#wrongGuess {
    float: right;
    margin-right: 30%;
    font-size: 30pt;
}

#resetButton {
    margin-top: 20px;
}

#buttonDiv {
    margin-top: 20px;
}

#words {
    float: left;
    font-size: 3em;
    letter-spacing: 2px;

}

#words span {
    text-decoration: none;
}

.blank {
    border-bottom: solid 2px #ff0021;
    padding-bottom: 1px;
    border-bottom-width: 4px;
    color: transparent;
}

.notBlank {
    border-bottom: solid 2px #ff0021;
    padding-bottom: 1px;
    border-bottom-width: 4px;
}